@import "tailwindcss";
@theme {
    --font-manrope: var(--font-manrope), sans-serif;
}
h1 {
  font:800 Manrope; letter-spacing:-.03em;
}
p{
  font:500 16px/1.6 Manrope;
}
.logo{
  width: 28px; height: 28px; border-radius: 8px; background: rgb(59, 130, 246); display: flex; align-items: center; justify-content: center;
}
.logo > div{
  width: 10px; height: 10px; background: rgb(255, 255, 255); transform: rotate(45deg); border-radius: 2px;
}